html, #root {
  background-color: rgb(232, 241, 220);
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  color: black;
  font-family: 'Poppins';
  background-image: linear-gradient(90deg, rgba(196, 196, 255, 0.8) -20%, rgba(232, 241, 230, 0.3) 50%, rgba(67,146,138,0.6) 120%);
}